<form class="@@sec__form @@small form" data-gtag-submit="">
  <p class="@@sec__form-title form-title">@@titletext </p>
  <div class="@@sec__form-input form-input">
    <input type="text" name="name" placeholder="Your name" required />
  </div>
  <div class="@@sec__form-input form-input">
    <input type="email" name="email" placeholder="Your e-mail" required />
  </div>
  <div class="@@sec__form-input form-input">
    <input type="tel"  name="phone" placeholder="Phone number" required />
  </div>
  <div class="@@sec__bot form-bot">
    <p class="@@sec__info-left form-left">@@lefttext</p>
    <div class="@@sec__info-linev form-linev"></div>
    @@include('../components/mybtn.html',{"text":"@@btntext", "class":"@@sec__form-btn form-btn"})
  </div>
</form>
